<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>INPUT</title>
 </head>
 <body>
     
  <h3>GOOD!</h3>

  {% for q in questionnaire.question.all %} 
  <!-- {% if q.id == quest.id %} -->
  % for questionnaire in questionnaires %}
        <h2>{{ questionnaire.title }}</h2>
        32
        {% for q in questionnaire.questions %} 
        35
        {% if q.id == quest.id %}
        {% if quest.questionnaires.id == questionnaire.id %}
        54, 55
        {% endif %}     
                {% endfor %} 