<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ДОПРОСИКИ Liz</title>
    <link 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous"> 

</head>

<body>

    <div class="col-md-8">
        <h3>&nbsp допросики  <big> Liz</big><small>&reg</small> <br>
        &nbsp <small><small><smal>будет не больно</small></small></h3>

        {% load static %}
            <img src='{% static "kniga_derevo_5291.jpg" %}',  alt="Книга с деревом" width="300" height="200"> 
        
        {% if username %}  
            <h4>Привет, {{ username|title }}!</h4> 
            {% lorem %}<br>
                    
            &nbsp Tы всегда сможешь <a href="logout">выйти</a>
    </div>  
    
    <div class="list-container">
        {% block questionnarie %}
        {% endblock %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8"> 
            <br><p><b>&nbsp {{ is_available }}</b></p>   
                {% for ap in appointments %}
                               
                <h4><a href="questionnaire/{{ ap.questionnaires_id }}">  {{ ap.questionnaires.title|title }}</a><small> |available</small></h4> 
                <pre> from: {{ ap.date_start }} - to:{{ ap.date_finish }}</pre>
               
                {% endfor %}      
            </div>
        </div>
    </div>  
    
    <div class="content-container">
        <div class="row">
            <div class="col-md-8"> 
            {% else %}  
            <p>Вам нужно <a href='register'>зарегистрироваться</a> 
                или <a href='/login/'>войти</a></p>  
            {% endif %} 
            </div>
        </div>
    </div>          
</body>
</html>