<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Questionnaire</title>
 </head>
 <body>
{% for questionnaire in questionnaires %}
    {% if object.id == questionnaire.id %}
        <h3><pre>    {{ questionnaire|upper }}</pre></h3>
            <p><pre>  Описание: {{ object.description|lower }}</pre></p>
  
        {% for quest in quests %}
            {% for q in quest.questionnaires.all %} 
                {% if  q.id  == questionnaire.id %}    
                    <form method="post" action="details">
                    {% csrf_token %}
                    <p><b>&nbsp {{ quest.question }}</b> &nbsp id:{{ quest.id }} <br>
                        &nbsp {{ quest.image }}</p>              
                    {% for variant in variants %}
                        {% if variant.questions.question == quest.question  %}
                            {% cycle 'answer1' 'answer2' 'answer3' 'answer4' as answer %}
                            <input type="checkbox" name='{{ answer }}' value="{{ variant.variant }}">{{ variant.variant }}<br>
                            <input type="hidden"  name="question_id" value="{{ quest.id }}">
                            <input type="hidden"  name="questionnaire_id" value="{{ questionnaire.id }}">        
                        {% endif %}                      
                    {% endfor %}             
                        <input type="submit" value="Отправить"><br>
                    </form>
                {% endif %}
            {% endfor %}    
        {% endfor %}
    {% endif %}
{% empty %}
    Sorry, no questions in this list.
{% endfor %} 
 </body>
