{% extends 'index.html' %}

{% block questionnarie %}
<big><pre>&nbsp ...или перейти <a href="{% url 'index' %}"> на главную</a></pre></big>

<h3>&nbsp&nbsp&nbsp{{ object|upper }}</h3>
    <p><pre>   описание опросника: {{ object.description|lower }}</pre></p>
    
    

    {% for quest in quests %}
        {% with counter_value=forloop.counter|stringformat:"s" %}
        {% with my_label="ВОПРОС "|add:counter_value %}

        <div><br>
             &nbsp {{ my_label }}        
        </div> 
            &nbsp&nbsp___________ <br>
            &nbsp ваш ответ на {{ my_label|lower }}:<br>

            {% if quest.id in list_answered %}
            <b>&nbsp {{ quest.question }}</b> &nbsp id:{{ quest.id }}<br> 

                {% for employee_answer in  employee_answers %}           
                    {% if  employee_answer.questions_id == quest.id  %}     
                        &nbsp "{{ employee_answer.user_answer }}"  
                            {% if employee_answer.is_correct %}
                            &#x2705 {{total_weight}} 
                                {% for variant in  variants %} 
                                    {% if variant.questions_id == employee_answer.questions_id and variant.variant == employee_answer.user_answer  %}
                                        &nbsp {{ variant.answer_weight }}  балл<br>
                                   
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
            {% else %}
                &nbsp ОЖИДАЕТСЯ <a href="/questionnaire/{{ questionnaire.id }}/question/{{ quest.id }}"> &nbsp ответить </a>
            {% endif %}
                
        {% endwith %}
        {% endwith %}
    {% endfor %}

    {% if weight_questionnaire and list_answered|length_is:quests.count %}
       <br><p><strong> &nbsp Вы набрали {{ weight_questionnaire }} баллов.</strong></p>
    {% endif %}        

{% endblock %}

