{% extends 'index.html' %}

{% block quest_list %}
<big><pre>&nbsp Или перейти <a href="../">на главную</a></pre></big>

<h3>&nbsp&nbsp&nbsp{{ object|upper }}</h3>
        <p><pre>   описание опросника: {{ object.description|lower }}</pre></p>
    
    {% for quest in quests %}
        
    <form method="post" action="details">
                {% csrf_token %}
                <div><br>
                    <b>&nbsp ВОПРОС &nbsp {{ quest.question }}</b> &nbsp id:{{ quest.id }}<br>
                    <br><img src="../../media/{{ quest.image }} " alt="{{quest.image}}" width="300" height="200">
                    {% if quest.image.name  != ''  %} 
                    <img src="{{ quest.image.url }}" alt="ой-ой" width="300" height="200"><br><br>
                    {% else %} #
                    {% endif %}
                </div> 
        
                <div>{% for variant in variants %}
                     {% if variant.questions_id == quest.id %}

                        {% cycle 'answer1' 'answer2' 'answer3' 'answer4' as answer  %}
                        <input type="checkbox" name="{{ answer }}" value="{{ variant.variant }}">&nbsp{{ variant }}<br>
                        <input type="hidden" name="question_id" value="{{ quest.id }}">
                        <input type="hidden" name="questionnaire_id" value="{{ object.id }}">        
                        

                    {% endif %}                    
                    {% endfor %}             
                        <input type="submit" value="Отправить">
                </div>
                
                </form>
               &nbsp&nbsp___________ <br>
                &nbsp ваш ответ:
                {% for employee_answer in  quest.employee_answers.all %}
                    {% if employee_answer.users_id == right_id %}
                        "{{ employee_answer.user_answer }}"
                    {% endif %}
                {% endfor %}
                
            
    {% endfor %}

{% endblock %}
